﻿* {
	margin:0;
	background-color:black;
	color:white;
}

#headerr {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	color:white;
	background-color:black;
	text-align:center;
}

#rooms {
	margin-left:0px;
	margin-right:0px;
	font-size:150%;
}

.uName {
	color:#00F;
	font-weight:bold;
	font-size:15px;
	font-family:Verdana, Geneva, sanas-serif;
}

.msg {
	color:#390;
	font-size:15px;
}

.button {
	text-align:center;
	background-color:#00F;
	border-width:2px;
	border-style:solid;
	border-color:#000;
	color:#FFF;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
}﻿

.button:hover {
	background-color:red;
}﻿

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: black;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white;
}
