﻿

* {
	margin:0;
	background-color:black;
	color:white;
}

#headerr {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	color:white;
	background-color:black;
	text-align:center;
}

#members {
	width:100%;
	height: 5%;
	background-color:black;
	color:white;
}

hr {
	height:2px;
	color:black;
}

.uname {
	color:lightblue;
	font-weight:bold;
	font-family:Verdana, Geneva, sanas-serif;
	font-size: 150%;
}

.msg {
	color:white;
	font-size:130%;
}

.button {
	text-align:center;
	background-color:black;
	border-width:2px;
	border-style:solid;
	border-color:white;
	padding-left: 10px;
	padding-right: 10px;
	color:#FFF;
	text-decoration:none;
	font-size:130%;
}﻿

.button:hover {
	background-color:red;
}﻿

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: black;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white;
}
